
.body {
    padding: 20px;
}

.headDiv {
    height: 200px;
    background-image: url("../images/burgers.jpg");
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
}

.container {
   background-color: blue;
   width: 100%;
   max-width: 800px;
   padding: 20px;
   outline: 1px groove #000;
}
.bottom {
    width: 100%;
    margin: auto;
}
.section {
    outline: 1px groove #000;
}